@import "config";
@import "./base/index";
@import "./components/index";
// @import "vendor/material.scss";

// $material-icons-font-path: '~material-icons/iconfont/';
// @import '~material-icons/iconfont/material-icons.scss';

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "sidebar toolbar"
    "sidebar content";

  &.menu-close {
    grid-template-columns: 0px 1fr;
    grid-template-areas:
      "sidebar toolbar"
      "sidebar content";
  }
}

.sidebar-container {
  grid-area: sidebar;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  transition: 0.2s ease-in;
  &.sidebar-close {
    transform: translateX(-240px);
  }
}

.app-toolbar {
  grid-area: toolbar;
}

.App .content {
  grid-area: content;
  min-height: calc(100vh - 70px);
  overflow-y: auto;
}
