@import "config";
@import "./base/index";
@import "./components/index";
// @import "vendor/material.scss";

// $material-icons-font-path: '~material-icons/iconfont/';
// @import '~material-icons/iconfont/material-icons.scss';

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "sidebar toolbar"
    "sidebar content";

  &.menu-toggle {
    grid-template-columns: 0px 1fr;
    grid-template-areas:
      "sidebar toolbar"
      "sidebar content";
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 0px 1fr;
  }
}

.sidebar-container {
  grid-area: sidebar;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  transition: 0.2s ease-in;
  z-index: 1;
  &.sidebar-toggle {
    transform: translateX(-240px);
  }
  @media screen and (max-width: 767px) {
    transform: translateX(-240px);

    &.sidebar-toggle {
      transform: translateX(0);
    }
  }
}

.app-toolbar {
  grid-area: toolbar;
}

.App .content {
  grid-area: content;
  min-height: calc(100vh - 70px);
  overflow-y: auto;
}

.chart-row {
  display: flex;
  flex-direction: column;
}
