body,
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  color: #4d4d4d;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 120%;
}
a {
  color: var(--primary-text-color);
}
a,
a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(#666, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(#666, 1);
}

::-webkit-input-placeholder {
  color: rgba(#4d4d4d, 0.5);
}

::-moz-placeholder {
  color: rgba(#4d4d4d, 0.5);
}

:-ms-input-placeholder {
  color: rgba(#4d4d4d, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
